:root {
	--primary-color: #0B436A;
	--secondary-color: #FBB016;
	--dark-primary-color: #0B2E46;
	--text-color: #5D5D5D;
	--grey-color: #F6F6F6;
	--light-grey-color: #F3F3F3;
	--dark-grey-color: #D3D3D3;
	--border-color: #D3D3D3;
	--white-color: #fff;
	--black-color: #000000;
	--green-color: #29CA43;
	--blue-color: #42A1E3;
	--primary-transition: all ease-in-out 0.35s;
	--box-shadow:0px 10px 32px 0px rgba(0,0,0,0.4);
	--box-shadow-light:0px 5px 6px 0px rgba(0,0,0,0.1);
	--body-font-family: 'Poppins', sans-serif;
}
